DATABASE_URL=postgresql://neondb_owner:npg_6WNvgILHi4eK@ep-restless-frost-zabnnj4o-pooler.c-2.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
APP_URL=http://localhost:3000
NEON_AUTH_COOKIE_SECRET=l3qLO+jNipPtE13H2SPU+0ADUWHiJ7ZHTAtAfTiAn2aF3e2+FbQqUGvZGY/y2jg2
NEON_AUTH_BASE_URL=https://ep-restless-frost-zabnnj4o.neonauth.c-2.eu-west-2.aws.neon.tech/neondb/auth